<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<%- include('../../partials/head', {title: 'PairCommerce : e-Commerce for PairProject'})%>

<body>
    <%- include ../../partials/header %>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>REGISTER</h1>
                    <%= error && error %>
                </div>
            </div>
            <div class="row">
                <form method="POST" action="/user/register">
                    <div class="col-6">
                        First Name: <input type="text" name="firstName" required='true'><br>
                        Last Name: <input type="text" name="lastName" required='true'><br>
                        Address: <input type="text" name="address" required='true'><br>
                        Phone: <input type="text" name="phone" required='true'><br>
                    </div>
                    <div class="col-6">
                        Email: <input type="email" name="email" required='true'><br>
                        Username: <input type="text" name="username" required='true'><br>
                        Password: <input type="password" name="password" required='true'><br>
                        Select your interests: <select name="interests" multiple>
                            <% for(let i =0 ; i < tags.length ; i++) {%>
                            <option value="<%= `${tags[i]}` %>"><%= tags[i] %></option>
                            <% } %>
                        </select>
                        <button type="submit" class="btn btn-lg purple-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include ../../partials/footer %>
</body>

</html>