<!DOCTYPE html>
<html>
<%- include('../../partials/head', {title: 'Cart'})%>

<body>
    <%- include ../../partials/header %>
    <div class="container-fluid maincontainer">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Picture</th>
                        <th scope="col">Name</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach( item => {%>
                    <tr>
                        <th scope="row"><%= item.id%></th>
                        </th>
                        <td><img class="img-fluid img-thumbnail productImg" src="<%= item.imagePath %>"  alt=""></td>
                        <td><%= item.name%></td>
                        <td><%= item.getPriceFormat()%></td>
                        <td><%= item.dataValues.cartQuantity%></td>
                        <td><%= item.dataValues.totalAmount %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row">
            <div class='col-6'>
                <h2>Total</h2>
            </div>
            <div class='col-6' style="text-align: right">
                <h2><%= items.totalAmountCurrencyFormat %></h2>
            </div>
        </div>
        <div class="row mt-3">
            <form action="/cart" method="post">
                <button type="submit" class="btn btn-primary">Proceed to Buy</button>
                <a href="/products" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
    <%- include ../../partials/footer %>
</body>

</html>